@use '../../styles/variables' as *;

.resultsContainer {
  text-align: center;
}

.loadingMessage {
  text-align: center;
  color: $text-muted;
  padding: $space-xl;
  font-size: 1.2rem;
  line-height: 1.6;
}

.errorMessage {
  text-align: center;
  color: $danger;
  padding: $space-xl;
}

.errorButton {
    width: 100%;
}