@use '../../../styles/variables' as *;

.wrapper {
  width: 100%;
}

.input {
  width: 100%;
  padding: $space-md;
  border: 2px solid $border;
  border-radius: $radius;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;

  &:focus {
    border-color: $primary;
  }
}